@import "tailwindcss";

@theme {
  --color-primary-dark: #0b1624;
  --color-secondary-dark: #07101a;
  --color-accent-red: #d32f2f;
  --color-bkash: #e2136e;
  --color-nagad: #f7941d;
  --color-rocket: #8c3494;

  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

:root {
  --background: var(--color-primary-dark);
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}